node_modules/
node_modules/*
public/js/node_modules/*      
public/Compendium/*
public/CompendiumFiles/*
public/Party/*
public/Uniques/*
public/Favorites/*
public/FavoritesFiles/*
public/CompendiumOld/* 
public/assets/*  
public/modules/*     
public/toConvert/*
public/toConvert2/*
public/toConvert3/*
public/artgenerator.json
public/images/* 
public/default_scene/*
public/Scenes/tag_default_scene.json
public/SceneFiles/default_scene/tag_sorloc.Avatar.webp_1_.json
public/SceneFiles/default_scene/tag_sorloc.Avatar.webp_1_.json.json
public/SceneFiles/default_scene/tag_sorloc.Token.webp_0_.json.json
public/SceneFiles/default_scene/tag_sorloc.Token.webp_0_.json
public/SceneFiles/default_scene/tag_momo.jpg_0_.json
public/SceneFiles/default_scene/tag_nomadTents.webp_0_.json
public/SceneFiles/default_scene/tag_nomadTentssmall.webp_0_.json
public/SceneFiles/default_scene/tag_aarakocra_mm.jpg_0_.json
public/SceneFiles/default_scene/tag_[object Object]_5ca2fed7-c7ed-4c00-889a-4c72137680a2_.json
public/SceneFiles/default_scene/tag_[object Object]_6b63710f-945f-42ea-b0e1-c6e945eee142_.json
public/SceneFiles/default_scene/tag_[object Object]_65415aac-3830-4f6b-9c68-d1db9c39712f_.json
public/SceneFiles/default_scene/tag_[object Object]_077091de-0a9b-4d3b-9840-36a3e2714907_.json
public/SceneFiles/default_scene/tag_aarakocra_mm.jpg_f6c939e7-299c-439b-89d7-81bc40e1bacc_.json
public/SceneFiles/default_scene/tag_[object Object]_5ca2fed7-c7ed-4c00-889a-4c72137680a2_.json
public/SceneFiles/default_scene/tag_[object Object]_6b63710f-945f-42ea-b0e1-c6e945eee142_.json
public/SceneFiles/default_scene/tag_[object Object]_65415aac-3830-4f6b-9c68-d1db9c39712f_.json
public/SceneFiles/default_scene/tag_[object Object]_077091de-0a9b-4d3b-9840-36a3e2714907_.json
vtt.js
