node_modules/
node_modules/*
public/js/node_modules/*      
public/Compendium/*
public/CompendiumFiles/*
public/Party/*
public/Uniques/*
public/Favorites/*
public/FavoritesFiles/*
public/CompendiumOld/* 
public/assets/*  
public/modules/*     
public/toConvert/*
public/toConvert2/*
public/toConvert3/*
public/artgenerator.json
public/images/* 
public/default_scene/*
public/Scenes/tag_default_scene.json
public/SceneFiles/default_scene/tag_sorloc.Avatar.webp_1_.json
public/SceneFiles/default_scene/tag_sorloc.Avatar.webp_1_.json.json
public/SceneFiles/default_scene/tag_sorloc.Token.webp_0_.json.json
public/SceneFiles/default_scene/tag_sorloc.Token.webp_0_.json
public/SceneFiles/default_scene/tag_momo.jpg_0_.json
public/SceneFiles/default_scene/tag_nomadTents.webp_0_.json
public/SceneFiles/default_scene/tag_nomadTentssmall.webp_0_.json
public/SceneFiles/default_scene/tag_aarakocra_mm.jpg_0_.json
public/SceneFiles/default_scene/tag_[object Object]_5ca2fed7-c7ed-4c00-889a-4c72137680a2_.json
public/SceneFiles/default_scene/tag_[object Object]_6b63710f-945f-42ea-b0e1-c6e945eee142_.json
public/SceneFiles/default_scene/tag_[object Object]_65415aac-3830-4f6b-9c68-d1db9c39712f_.json
public/SceneFiles/default_scene/tag_[object Object]_077091de-0a9b-4d3b-9840-36a3e2714907_.json
public/SceneFiles/default_scene/tag_aarakocra_mm.jpg_f6c939e7-299c-439b-89d7-81bc40e1bacc_.json
public/SceneFiles/default_scene/tag_[object Object]_5ca2fed7-c7ed-4c00-889a-4c72137680a2_.json
public/SceneFiles/default_scene/tag_[object Object]_6b63710f-945f-42ea-b0e1-c6e945eee142_.json
public/SceneFiles/default_scene/tag_[object Object]_65415aac-3830-4f6b-9c68-d1db9c39712f_.json
public/SceneFiles/default_scene/tag_[object Object]_077091de-0a9b-4d3b-9840-36a3e2714907_.json
vtt.js
public/SceneFiles/default_scene/tag_[object Object]_5ca2fed7-c7ed-4c00-889a-4c72137680a2_.json
public/SceneFiles/default_scene/tag_[object Object]_6b63710f-945f-42ea-b0e1-c6e945eee142_.json
public/SceneFiles/default_scene/tag_[object Object]_65415aac-3830-4f6b-9c68-d1db9c39712f_.json
public/SceneFiles/default_scene/tag_[object Object]_077091de-0a9b-4d3b-9840-36a3e2714907_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgMMAarakocrapng_8d0581c1ee9e4bd1b41c8e95a664ef1a_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgTCEAberrant_Spiritpng_b1cd46a71bd84606a5202acc4ab9f946_.json
public/SceneFiles/default_scene/tag_mightyforcesvg_35271aa3eb774ab1913e762e83004e61_.json
public/SceneFiles/default_scene/tag_mightyforcesvg_a4b12bbbe4134c3bb0c14b4cf3273828_.json
public/SceneFiles/default_scene/tag_aarakocra_mmjpg_8bfd2e973d3842168ae6c75ce27a2c16_.json
public/SceneFiles/default_scene/tag_aarakocra_mmjpg_35d56b410ae04334a030015317dea92f_.json
public/SceneFiles/default_scene/tag_aarakocra_mmjpg_9123380640f6411fa8fa09d7758bfed8_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgBAMAartuk_Elderpng_9986ca05ca604aa5a8eca7739d64cab5_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgMMAarakocrapng_1a95c5232b324f90acbf08ad01c2ff13_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgMMAarakocrapng_09adc9134bb24eaf96a290772f5f29ac_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgMMAarakocrapng_50482006aaf045b4ab490b8fe25f933a_.json
public/SceneFiles/default_scene/tag_mightyforcesvg_897a0779339a4c71bca95e97692bb0b9_.json
public/SceneFiles/default_scene/tag_mightyforcesvg_7761ab0eaab64b8d80ef809fa66f0bff_.json
public/SceneFiles/default_scene/tag_sorlocTokenwebp_daed6631eefb428498c14d67cba26c6a_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgHotDQAmbush_Drakepng_6ebf098fef684e1a939fa1d9cf891219_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgMPMMAbjurer_Wizardpng_a6634fc56eef4f2cace886a0aebed9d7_.json
public/SceneFiles/default_scene/tag_imagesiconsweaponsammunitionarrowswarredwebp_4c524b66ac5a4c87b13cfa30a1c65f74_.json
public/SceneFiles/default_scene/tag_imagesiconsweaponspolearmshalberdcrescentengravedsteelwebp_c41204f704c04da7bacaa9f22bd87406_.json
public/SceneFiles/default_scene/tag_talislanta_geographica_map_300dpijpg_35942b3f21834b899fec4c2df51ec664_.json
public/SceneFiles/default_scene/commoner_mm393e7049-938e-4148-8274-3e58bbe13c44.json
public/SceneFiles/default_scene/orc20commoner_tftypbfe2956b-d6f2-4046-b246-512ea6f6f7e9.json
public/SceneFiles/default_scene/tag_conanandprincessjpg_585c16b8411b401baec3576c715e4ca3_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgMMCommonerpng_03dd1536373c4f9e899a906086e0d593_.json
public/SceneFiles/default_scene/tag_imagesassetssrd5eimgTftYPOrc_Commonerpng_7e1b7034cef2489592f47e7183c6f573_.json
public/SceneFiles/default_scene/tag_InnatWhisperWoodwebp_551ae0ff1f3f4a1d84c8890009059057_.json
public/SceneFiles/default_scene/tag_moorcockjpg_9a8a08d071624be89dc606d917fb5acf_.json
public/SceneFiles/default_scene/tag_moorcockjpg_19a9299b546a40a0a301ea3725c9789c_.json
public/SceneFiles/default_scene/tag_moorcockjpg_a50c7fd201de4dc590085953f0e7c486_.json
public/SceneFiles/default_scene/tag_moorcockjpg_a2410a4d70894f2ea5d7b2d21ee5ef66_.json
public/SceneFiles/default_scene/aarakocra20simulacrum_skt2dae7188-3153-4ff8-95f5-82a9e7993b27.json
public/SceneFiles/default_scene/aarakocra20simulacrum_skt3c53a16e-3466-478c-9b93-93c85439b86c.json
public/SceneFiles/default_scene/aarakocra20simulacrum_skt9fd99c90-3fac-4dcc-963d-dc41e0034a62.json
public/SceneFiles/default_scene/aarakocra20simulacrum_skt148746dc-742f-4c30-a098-dcc2f0dd3858.json
public/SceneFiles/default_scene/aarakocra20simulacrum_sktaed4c889-1b7b-4c29-ad07-0e5f8eea3024.json
public/SceneFiles/default_scene/aarakocra20simulacrum_sktb870bfa5-9b73-43d5-a268-5bf5e3ad6447.json
public/SceneFiles/default_scene/aarakocra20simulacrum_sktcfa55a4f-c334-4cd3-9d94-e53108e5cc4c.json
public/SceneFiles/default_scene/aarakocra20simulacrum_sktedb7d9e0-1084-478b-a8f3-0454474ac965.json
public/SceneFiles/default_scene/aarakocra20spelljammer_lox1b999078-00c4-40a2-a41a-2a749871318c.json
public/SceneFiles/default_scene/aarakocra20spelljammer_lox2dc58b7e-ea2e-4a8e-87a6-f76b2b165418.json
public/SceneFiles/default_scene/aarakocra20spelljammer_loxa364f1bc-8a85-4fee-a18c-810b36339733.json
public/SceneFiles/default_scene/tag_images_assets_srd5e_img_LoX_Aarakocra_Spelljammerpng_e6c21ad0655d404a923b646d530a45cf_.json
public/SceneFiles/default_scene/tag_images_assets_srd5e_img_SKT_Aarakocra_Simulacrumpng_2981acf54aa94f4bbe138d2d0517d7d7_.json
public/SceneFiles/default_scene/tag_tag_images_assets_srd5e_img_LoX_Aarakocra_Spelljammerpng_e6c21ad0655d404a923b646d530a45cf_json_.json
public/SceneFiles/default_scene/tag_tag_images_assets_srd5e_img_SKT_Aarakocra_Simulacrumpng_2981acf54aa94f4bbe138d2d0517d7d7_json_.json
public/SceneFiles/default_scene/tag_images_modules_plutonium_media_icon_guitarsvg_a780137af7594cde9ebbaaec7f04124f_.json
public/SceneFiles/default_scene/tag_tag_images_modules_plutonium_media_icon_guitarsvg_a780137af7594cde9ebbaaec7f04124f_json_.json
