node_modules/
node_modules/*
public/js/node_modules/*      
public/Compendium/*
public/CompendiumFiles/*
public/Party/*
public/Uniques/*
public/Favorites/*
public/FavoritesFiles/*
public/CompendiumOld/* 
public/assets/*  
public/modules/*     
public/toConvert/*
public/toConvert2/*
public/toConvert3/*
public/artgenerator.json
public/images/* 
public/default_scene/*
public/Scenes/tag_default_scene.json
public/SceneFiles/default_scene/tag_sorloc.Avatar.webp_1_.json
public/SceneFiles/default_scene/tag_sorloc.Avatar.webp_1_.json.json
public/SceneFiles/default_scene/tag_sorloc.Token.webp_0_.json.json
public/SceneFiles/default_scene/tag_sorloc.Token.webp_0_.json
public/SceneFiles/default_scene/tag_momo.jpg_0_.json
public/SceneFiles/default_scene/tag_nomadTents.webp_0_.json
public/SceneFiles/default_scene/tag_nomadTentssmall.webp_0_.json
public/SceneFiles/default_scene/tag_aarakocra_mm.jpg_0_.json
